/* Page styles!
-------------------------------------------------------------------------------*/
body {
	font: 13px 'Droid Sans Mono', Helmet, Freesans, sans-serif;
	background: #02416D url(/images/layout/grid_blue.gif);
}

body,select,input,textarea {
	color: #333;
}

a {
	color: #279CBC;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a:hover {
	color: #2076A5;
	text-shadow: 0px 0px 4px rgba(255,255,255,0.2);
}

/* Custom text-selection colors (remove any text shadows:  twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
	background: #fcd700;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #fcd700;
	color: #fff;
	text-shadow: none;
}

/*  j.mp/webkit-tap-highlight-color */
a:link {
	-webkit-tap-highlight-color: #fcd700;
}

ins {
	background-color: #fcd700;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #fcd700;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

.main {
	height: 620px;
	width: 100%;
	background: #f7f7f7 url(/images/layout/grid.gif);
}

.main-wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px 0 10px;
}

h1 {
	font-size: 115px;
	text-align: center;
	margin: 0 auto;
	color: #2076A5;
	font-weight: normal;
}

h1 span {
	color: #134472;
}

#blueboard {
	position: absolute;
	top: 175px;
	left: 28px;
	display: block;
	width: 602px;
	height: 377px;
	background: url(/images/layout/blueboard.png)no-repeat;
	text-indent: -999em;
}

#legs {
	position: absolute;
	top: 515px;
	left: 690px;
	display: block;
	width: 150px;
	height: 105px;
	background: url(/images/layout/legs.png)no-repeat;
}

#arm {
	position: absolute;
	top: 290px;
	left: 540px;
	display: block;
	width: 151px;
	height: 113px;
	background: url(/images/layout/arm.png)no-repeat;
}

#body {
	position: absolute;
	top: 320px;
	left: 665px;
	display: block;
	width: 245px;
	height: 220px;
	background: url(/images/layout/body.png)no-repeat;
}

#badge {
	position: absolute;
	top: 355px;
	left: 756px;
	display: block;
	width: 56px;
	height: 21px;
	background: url(/images/layout/badge.png)no-repeat;
}

#head {
	position: absolute;
	top: 258px;
	left: 696px;
	display: block;
	width: 91px;
	height: 89px;
	background: url(/images/layout/head.png)no-repeat;
}

footer {
	width: 100%;
	background: url(/images/layout/footer.gif) repeat-x top;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

.footer-wrap {
	width: 960px;
	margin: 0 auto;
	padding: 20px 10px 10px;
}

.footer-wrap p {
	padding: 60px 0 10px;
	text-align: center;
}

h2 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
}

h2 span,h2 a {
	font-size: 24px;
	color: #279CBC;
	text-decoration: none;
}